// color variables
$c-textAlfa: #868c96;
$c-textBeta: #505b65;

$c-primary: #2396FC;
// TODO: smell - better use one color for warning state
$c-danger: #F04E34;
$c-danger2: #AE253A;

$c-blueAlfa: #A5B5CB;
$c-blueBeta: #11518A;

$c-light: #FFFFFF;
$c-dark: #393939;

// TODO: smell - better use one color
$c-border: #C3CCD8;
$c-line: #C8CCD3;

$c-readonly: $c-border;
$c-disabled: $c-border;