// border-radius variables
$br-default: 0.3rem;

// height variables
$h-field: 4rem;
$h-field-sm: 2.4rem;
$h-table-row: 4rem;

// size variables
// TODO: smell - almost the same sizes, can be combined.
$s-sm: 1.4rem;
$s-md: 1.6rem;
$s-lg: 1.8rem;