@import "./src/assets/style/mixins.scss";
@import "./src/assets/style/variables.scss";

.dashboard-tables {
  margin-top: $s-lg;

  &-table {
    margin: $s-lg 0;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $s-sm;
  }
}
